.front {
    max-width: 900px;
    border: 1px solid transparent;
    margin: auto;
    text-align: center;
}

.menu_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: black;
    color: white;
}

.menu_bar > .btn {
    height: 40px;
    align-self: center;
}

/* display cards */

.cards_show {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   flex-wrap: wrap;
   
}

.display_cards {
    margin-top: 60px;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 350px;
    text-align: justify;
    background: yellowgreen;
}

.display_cards > .card_data{
    margin-left: 20px;
}

